.card-table {
  margin-top: 30px;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid rgba(224, 224, 224, 0.87);
  border-bottom: none;
}

.tableButton {
  min-width: 28px !important;
  min-height: 25px !important;
  border-radius: 50% !important;
}

.tableNumber {
  margin: auto 20px;
}